<h1>Hi, <%= session[:name] %>.</h1>
<a href="secrets_path">secret...</a>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
